<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<main class="main">
  <div class="content">
    <div class="hero-section">
      <div class="title">
        Stephen Jackiw
      </div>
      <div class="subtitle">
        Full-Stack Developer
      </div>
      <div class="tagline">
        <div>I design simple, yet engaging web applications with a modern-feel</div>
      </div>
    </div>

    <div style="height: 100vh;"></div>
    <app-job-card></app-job-card>
    <div class="experience-section">
      <div class="experience-header">1. Experience</div>
      <div class="experience-body">
        <div class="job">
          <div class="job-company">JP Morgan Chase</div>
          <div class="job-title">Software Engineer II</div> |
          <div class="job-dateRange">June 2023 – Present</div>
          <div class="job-tasks"><ul>
            <li>Developed software solutions using Java SpringBoot, AWS RDBS, AWS SQS and Kafka to
              automate sending letters to customers who have been denied a credit line increase</li>
            <li>Provided on-call support for production and testing issues for all applications in the credit and
              consumer business space</li>
            <li> Modernized application by moving our systems from proprietary architecture to the AWS
              ecosystem</li>
            <li>Maintained Unit and Integration tests using JUnit and Cucumber</li>
          </ul></div>
        </div>
        <div>

          <h4>Ford Motor Company</h4>
          Junior Software Engineer | May 2021 – August 2022
          <ul>
            <li>Developed software solutions in Java SpringBoot, Angular 8 and MS SQL for the automated
              vulnerability scanning of binary files in an agile and extreme programming environment</li>
            <li>Normalized an SQL database and wrote SQL queries for a mission-critical system</li>
            <li>Worked with Jenkins Pipelines to create a blue-green deploy system, automated static code
              analysis and automated binary scan analysis for a CI/CD pipeline.</li>
            <li>Managed project backlog using Jira and Github</li>
            <li>Worked with AWS S3 to save data for long-term storage</li>
            <li>Initiated the switch from PCF to Google Cloud Platform for our entire system</li>
            <li>Maintained Unit and Integrations tests using JUnit(Java) and Jasmine(Angular)</li>
          </ul>

          IT Security Operations Intern | May 2020 – August 2020
          <ul>
            <li>Installed Symantec’s endpoint security systems on over 100 virtual machines</li>
            <li>Supported company-wide email filtering and spam system using Symantec’s suite of tools</li>
            <li>Initiated a formal bug report and feature request process for an industrial control system
              management tool</li>
            <li>Evaluated alternate security solution venders and communicated corporate requirements</li>
            <li>Collaborated with a team in a design thinking methodology workshop to create a prototype to
              improve internal Ford-Intern communication for a fully digital workplace</li>
          </ul>
        </div>

        Vehicle and Mobile Security Intern | May 2019 – August 2019
        <ul>
          <li>Completed and supported 100+ security test cases in a staging environment</li>
          <li>Intercepted in-vehicle and Bluetooth low-energy communications for analysis</li>
          <li>Researched simulating supplier security compliance using Matlab’s Simulink</li>
          <li>Mediated arguments to ensure a quality environment for inter-team communication</li>
          <li>Developed documentation for future test engineers and easier on-boarding</li>
        </ul>

        <h4>Purdue University</h4>
        Security Operations Officer | May 2018 – Aug 2018
        <ul>
          <li>Supported the spam and phishing email filtering system with over 40,000 accounts</li>
          <li>Handled support tickets for endpoints with malware and various account security requests</li>
          <li>Responded to customer questions regarding phishing and security in relation to their accounts</li>
        </ul>

        Resident Assistant | August 2018 – March 2020
        <ul>
          <li>Supervised the health and safety of over 30 residents per year</li>
          <li>Led and developed monthly extracurricular programs and activities</li>
          <li>Mediated arguments and discussions between conflicting parties</li>
        </ul>

        <h4>Alta Via Consulting</h4>
        Front-end Developer | May 2017 – Aug 2017
        <ul>
          <li>Designed a visual, node-based solution for managing employee information using JavaScript,
            HTML and CSS</li>
          <li>Gathered requirements from end-users to ensure customer satisfaction</li>
          <li>Updated legacy code</li>
        </ul>
      </div>
      <div>
      </div>
      <div class="experience">
        <h3>PROFESSIONAL EXPERIENCE</h3>


      </div>
    </div>
    <div class="skillsAndTech">
      <h3>SKILLS & TECHNOLOGIES</h3>
      Java, Python, C, C++, Linux, Windows, Bash, Groovy, Jenkins, Jira, Security Operations, Object-Oriented
      Programming, Agile Development, Database Administration, Malware Analysis, Digital Forensics,
      Technical Writing, Argument Mediation, Presentational Speaking
    </div>
    <div class="interests">
      <h3>INTERESTS & HOBBIES</h3>
      Video Game Development, Painting, Drawing, Rock Climbing, Hiking, Acting,
      Directing, Film, Learning languages: Spanish (~B1), Japanese, Ukrainian (TrueBeginner)
    </div>
    <div class="footer">
      <h3>REFERENCES AVAILABLE ON REQUEST</h3>
    </div>
  </div>
</main>
<router-outlet />